#latest-projects{
    margin: 5rem;
}

#latest-projects img{
    width: 100%;
}

#latest-articles{
    margin: 5rem;
}

#latest-articles img{
    width: 100%;
}

#grey{
    background-color: lightgrey;
    padding: 2rem 5rem;
}

footer{
    padding: 0 3rem;
    background-color: grey;
}

.col{
    width: 20vw;
}